body{
  font-size:17px;
  color:#000;
  font-family:'Cuprum','Arial Narrow',sans-serif;
  min-width:940px
}
.container{
  width:940px;
  margin:0 auto;
}
.clearfix:after{
  content:'';
  display:table;
}

.page-header{
  background:#293449;
}
.main-header-logo{
  position: relative;
  display: inline-block;
  margin: 0;
  width: 220px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 7px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
}
.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}
.main-header-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}
.panel-header{
 font-family: 'Cuprum','Arial',sans-serif;
 color:#fff;
 text-decoration:none;
 display:block;
 float:right;
 width:150px;
 text-align:center;
 padding-top:12px;
 padding-bottom:11px;
}
.panel-header .icon{
  opacity:.3;
  margin-right:11px;
}
.panel-header:hover .icon{
  opacity:1;
}
.panel-header:active{
  opacity:.3;
  background:#161d29;
}
.full-basket{
  background:#ee3643;
}
.full-basket:active{
  background:#ee3643;
  opacity:.3;
}
.ordering{
  background:#63a63e;
  margin-right:0;
}
.ordering:hover{
  background:#5fbb2d;
}
.ordering:active{
  opacity:.5;
}
.search-form{
  display:block;
  float:left;
  width:270px;
  position:relative;
}
.search-form:hover .search-input{
  background:#212a3a;
}
.search-form:hover .search-btn{
  opacity:1;
}
.search-form .search-btn{
  position:absolute;
  width:50px;
  height:42px;
  padding:0;
  border:0;
  background:none;
  outline:0;
  color:#fff;
  opacity:.3;
  top:0;
  left:0;
}
.search-form .search-btn:active{
  opacity:.3;
}
.search-form .icon-search{
  font-size:17px;
}
.search-form .search-input{
  padding:0;
  border:0;
  width:221px;
  color:#000;
  padding-left:49px;
  padding-top:12px;
  padding-bottom:11px;
  background:none;
  outline:0;
}
.search-form .search-input:focus{
  background:#fff;
}
.search-form .search-input:focus::-webkit-input-placeholder{
  color:transparent;
}
.search-form .search-input:focus::-moz-placeholder{
  color:transparent;
}
.search-form .search-input:focus:-ms-input-placeholder{
  color:transparent;
}
.search-form .search-input:focus +.search-btn{
  color:#ee3643;
  opacity:1;
}
.search-input::-webkit-input-placeholder{
  color:#fff;
}
.search-input::-moz-placeholder{
  color:#fff;
}
.search-input:-ms-input-placeholder{
  color:#fff;
}

.header{
  background:#f1f5f7;
  padding-top:46px;
  padding-bottom:60px;
  margin-bottom:60px;
}
.header  .header-main{
  margin-bottom:40px;
}
.header .header-title{
  float:left;
  font-size:16px;
  font-family:'Cuprum','Arial Narrow',sans-serif;
  font-style:italic;
  color:#ee3643;
  line-height:23px;
  width:200px;
  margin-left:50px;
}
.header  .telephone-address{
  float:left;
  width:269px;
  margin-left:70px;
}
.header .telephone{

  border:3px solid #fff;
  width:100%;
  font-size:21px;
  color:#e9292a;
  line-height:18px;
  margin:0;
  padding-bottom:8px;
  padding-top:9px;
}
.header  .icon-phone{
  font-size:22px;
  color:#b7bfc8;
  margin-left:6px;
  margin-right:35px;
}
.header .address{
  font-size:14px;
  color:#32425c;
  text-align:center;
  margin:0;
  margin-top:10px;
}
.login,
.registration{
  float:right;
  text-decoration:none;
  font-size:21px;
  color:#000000;
  background:#fff;
  padding-top:13px;
  margin-bottom:25px;
  
}
.login:hover,
.registration:hover{
  color:#ee3643;
}
.login:hover .icon-login,.registration:hover .icon-login{
  color:#32425c;
}
.login:active,
.registration:active{
  color:rgba(0,0,0,0.3);
}

.login{
   margin-left: 50px;
  padding-right:26px;
  margin-right:10px;
}
.registration{
  padding-right:25px;
  padding-left:25px;
}
.icon-login{
  font-size:22px;
  color:#c5c5c5;
  line-height:18px;
  margin-left:10px;
  margin-right:5px;
}


.main-navigation{

  padding:0;
  font-size:0;
  background:#32425c;
  border-bottom:5px solid #293449;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:space-between;
  justify-content:space-between;
}
.main-navigation li{
  font-size:17px;
  vertical-align:top;
  list-style-type:none;
  flex-grow:1;
}
.main-navigation li:first-child{
  padding-left:20px;
}
.main-navigation li:last-child{
  padding-right:20px;
}
.main-navigation li:hover{
  background:#1d2739;
}
.main-navigation a{
  display:block;
  color:#fff;
  text-decoration:none;
  padding-top:18px;
  padding-bottom:18px;
  text-align:center;
}
.main-navigation a:active{
  color:rgba(255,255,255,0.5);
}



.container-main{
  display: flex;
  height: 600px;
  padding-left:50px;
}

.company {
  margin: 0 auto 85px;

}

.about {
  float: left;
  width: 600px;
}

.about-main,
.contacts-main {
  margin: 0 0 35px 0;
  font-family: 'Cuprum';
  font-size: 30px;
  font-weight: 400;
  
}

.about p {
  margin: 15px 0;
}

.transport-companies {
  list-style: none;
  position: relative;
  margin: 25px 0;
}

.transport-companies li:before {
  content: '';
  width: 25px;
  height: 2px;
  background: #FB565A;
  position: absolute;
  left: 0;
  top: 17px;
}

.transport-companies li:nth-child(2):before {
  top: 53px;
}

.transport-companies li:nth-child(3):before {
  top: 89px;
}

.transport-companies a {
  color: #000000;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  font-family: 'Cuprum';
}
.company-button {
  text-decoration:none;
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  display: block;
  text-align:center;
  line-height: 38px;
  color:#ffffff;

}
.company-button:hover {
  background-color: #ca2c37;
}

.company-button:active {
  background-color: #ba2732;
}
.contacts {
  float: right;
  width: 320px;
  margin: 0 auto 85px;
}

.map img {
  margin: 20px 0;
}

.feedback-button {
 text-decoration:none;
 width: 300px;
 height: 38px;
 background-color: #ee3643;
 display: block;
 text-align:center;
 line-height: 38px;
 color:#Ffffff;
}
.feedback-button:hover {
  background-color: #ca2c37;
}

.feedback-button:active {
  background-color: #ba2732;
}

.main-footer{
  font-family:'Cuprum','Arial Narrow',sans-serif;
}
.container{
  display: flex;
}
.footer-user-navigation{
  background:#32425c;
  padding-bottom:48px;
}
.logo-address{
  float:left;
  width:325px;
}
.main-footer-logo{
  position: relative;
  display: inline-block;
  margin: 0;
  width: 220px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 7px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
}
.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}
.main-footer-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}
.footer-address{
  padding-top:25px;
  margin:25px;
  font-size:18px;
  line-height:24px;
  color:#fff;
}
.footer-menu{
  float:right;

  justify-content: flex-end;
}
.footer-menu a:hover{
  text-decoration:underline;
}
.footer-menu a:active{
  opacity:.5;
}
.footer-navigation{
  font-size:0;
  margin-top:40px;
  text-align:right;
  padding:0;
  margin-bottom:35px;
}
.footer-navigation li{

  display:inline-block;
  vertical-align:top;
  list-style-type:none;
  margin-left:70px;
}
.footer-navigation li:first-child{
  margin-left:0;
}
.footer-navigation a{
  text-decoration:none;
  color:#fff;
  font-size:18px;
}
.site-sections{

  font-size:0;
  text-align:right;
  padding:0;
}
.site-sections li{
  display:inline-block;
  vertical-align:top;
  list-style-type:none;
  margin-left:60px;
}
.site-sections li:first-child{
  margin-left:0;
}
.site-sections a{
  text-decoration:none;
  color:#ffd180;
  font-size:18px;
}

.footer-down{
  background:#293449;
  padding-top:35px;
  padding-bottom:35px;
}

.copyrights,.social,.feedback,.development{
  color:#fff;
  font-size:16px;
}
.copyrights,.social{
  float:left;
}

.footer-connection{
  margin-left: 50px;
}
.feedback,.development{

  float:right;
}
.development{
  margin-left:52px;
  margin-right:15px;
}
.copyrights{
  width:285px;
}
.copyrights p{
  margin:0;
}
.social{
  font-size:0;
  margin-left:109px;
}
.social .icon-vk{
  padding-right:5px;
  width:35px;
}
.social.icon-facebook{
 padding-left:20px;
 width:35px;
}
.social.icon-instagram{
  padding-left:15px;
  width:35px;
}
.social-btn{
  display:inline-block;
  vertical-align:top;
  width:40px;
  height:30px;
  border-radius:50%;
  background:#212a3a;
  text-decoration:none;
  font-size:18px;
  color:#fff;
  text-align:center;
  padding-top:10px;
  margin-right:4px;
  margin-top:-4px;
}
.social-btn:hover,.social-btn:active{
  background:#ee3643;
}
.social-btn:last-child{
  margin-right:0;
}

.web-adress{
  text-decoration:none;
  color:#ffd180;
}
.web-adress:hover{
  text-decoration:underline;
}
.web-adress:active{
  text-decoration:none;
  color:#ee3643;
}


.btn{
  display:block;
  background:#ee3643;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Cuprum','Arial Narrow',sans-serif;
  font-weight:400;
  font-size:14px;
  color:#fff;
  text-align:center;
  border-radius:3px;
  padding-top:11px;
  padding-bottom:11px;
}
.btn:hover{
  background:#ca2c37;
}
.btn:active{
  background:#ba2732;
}


.modal-content-map{
 display: none;
 position: fixed;
 top: 120px;
 left: 50%;
 width: 940px;
 height: 446px;
 margin-left: -470px;
 background: #e5e5e5 url(../img/big-map.png) no-repeat;
 box-shadow: 0 0 15px 1px rgba(35,31,32,.5);
 z-index: 500;
}

.modal-show {
  display: block;
}

.modal-content-map p{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}
.modal-content-map .modal-close-btn{
 position: absolute;
 right: 0;
 top: 0;
 width: 21px;
 height: 21px;
 border: none;
 background: url(../img/icon-close.svg) no-repeat center;
 cursor: pointer;
}

.request{
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 620px;
  height: 430px;
  margin-left: -310px;
  padding: 0;
  z-index: 1000;
  box-shadow: 0 20px 40px 0 rgba(0,1,1,.75);
}
.request-show{
  display: block;
}
.write-us-fields{
  font-size:0;
  padding:45px 80px 35px;
}
.write-us-buttons input, 
.request-name, .request-email{
  vertical-align:top;
  display:inline-block;
}

input:active,input:focus,textarea:focus{
  outline:0
}

.modal-close-btn:focus{
  outline:0;
}
.request form{
  width:100%;
  background-color:#fff;
  border-top:7px solid #ee3643;
}

.request-name{
  margin-right:20px;
  max-width:220px;
}

.request-email{
  max-width:220px;
}
.write-us-fields label{
  font:18px/18px Cuprum,Arial,sans-serif;
  color:#000000;
}
.write-us-fields input{
  margin-bottom:20px;
  padding:9px 15px;
  width:220px;
  border-radius:3px;
}
.write-us-fields input,
.write-us-fields textarea{
  box-sizing:border-box;
  margin-top:10px;
  font:13px/18px "PT Sans",Arial,sans-serif;
  color:#999999;
  border:2px solid #d7dcde;
}
.write-us-fields textarea{
  padding:9px 14px;
  width:460px;
  border-radius:3px;
  resize:none;
  overflow:auto;
}
.feedback-block-buttons {
  background-color: #f1f1f1;
}

.feedback-block-buttons {
 padding-left: 80px;
 padding-bottom: 37px;
 font-size: 0;
}

.feedback-btn-request:last-child {
  margin-right: 0;
}


.feedback-btn-request {

  width: 460px;
  height: 38px;
  color:#ffffff; 
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 78px;
  padding-right: 81px;
  margin-right: 20px; 
  border-style: none;
  border-radius: 5px;
  outline: none;
  background-color: #ee3643;
}

.feedback-btn-request:hover {
  background-color: #ca2c37;
}

.feedback-btn-request:active {
  background-color: #ba2732;
}




/* ------------------------------------- 
Styles for the catalog page    -
-----------------------------------------     */
.basket-catalog{
  width: 150px;

  background-color: #ee3643;
}


.user{
  float:right;
}
.user p{
  margin:0;
  font-size:0;
}
.user a{
  display:inline-block;
  vertical-align:top;
  font-size:21px;
  text-decoration:none;
  color:#000;

}

   

.user .user-name{
  padding-bottom:9px;
  padding-top:10px;
  background:#fff;
  margin-bottom:8px;
  margin-left: 90px;
}
.user .icon-user{
  font-size:18px;
  margin-right:10px;
  margin-left:10px;
  color:#c5c5c5;
}
.user .icon-logout{
  font-size:22px;
  margin-left:34px;
  margin-right:4px;
  color:#c5c5c5;
}
.user .user-nav{
  padding-left:17px;
}
.user .separator{
  font-size:10px;
  vertical-align:-13px;
  margin-left:15px;
  margin-right:15px;
  color:#32425c;
}
.user-nav a{
  text-decoration:underline;
  color:#32425c;
  font-size:16px;

}
.orders{
  margin-left: 75px;
}
.user-profile:hover span
.icon-user{
  color:#212a3a;
}
.icon-logout.logout:hover{
  color:#212a3a;
}
.user-nav a:hover{
  color:#ee4d59;
}






.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
}
.catalog-list .row {
  margin-left: -20px;
}
.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #ccc;
}
.catalog-list {
  font-size: 16px;
}
.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-paginator {
  font-size: 0;
  margin-bottom: 60px;
}

.catalog-paginator a,
.catalog-paginator span {
  display: inline-block;
}

.catalog-paginator a,
.catalog-paginator span {
  padding-top: 9.5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.catalog-paginator a:hover {
  border-color: #bdc6ca;
}

.catalog-paginator a:active {
  border-color: #ee3643;
}

.catalog-paginator .catalog-paginator-next {
  padding-left: 31px;
  padding-right: 31px;
}
.catalog-paginator-active{

  text-align: center;
  font-size: 13px;
  color:#ffffff;
}
.pagination-item{
 text-align: center;
 font-size: 13px;
 color:#000000;
}
.catalog-paginator-next{
 text-align: center;
 font-size: 13px;
 color:#000000;
}
.catalog-paginator .catalog-paginator-active {
  border: 1px solid #ee3643;
  background-color: #ee3643;
}


.cart-notification {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  padding-top: 66px;
  margin-top: -200px;
  margin-left: -300px;
  background-color: #ffffff;
  border-top: solid 7px #ee3643;
  box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
  z-index: 5000;
}
.cart-notification-show{
 display: block;
}
.cart-notification-close {
  position: absolute;
  right: 40px;
  top: 20px;
  cursor: pointer;
 
}

.cart-notification-close:before {
  position: absolute;
  top: -2px;
  left: 5px;
  width: 25px;
  height: 5px;
  transform: rotate(-45deg);
  background: #ee3643;
  font-size: 40px;
  font-weight: 400;
  content: "";
}

.cart-notification-close:after {
  position: absolute;
  top: -2px;
  left: 5px;
  width: 25px;
  height: 5px;
  transform: rotate(45deg);
  background: #ee3643;
  font-size: 40px;
  font-weight: 400;
  content: "";
}

.cart-notification-close:hover:before,
.cart-notification-close:hover:after {
  background-color: #ca2c37;
}

.cart-notification-close:active:before,
.cart-notification-close:active:after {
  background-color: #ba2732;
}
.cart-notification img{
  width: 66px;
  height: 66px;
  margin-left:40px;
}
.cart-notification-title {
  position: relative;
  margin-left: 90px;
  margin-bottom: 50px;
  font-family: Cuprum;
  font-size: 30px;
  text-align: center;
  margin-top:auto;
}

.cart-notification-title:before {
  position: absolute;
  top: -20px;
  left: -100px;
  width: 65px;
  height: 65px;
  background: -21px -616px url("../img/modal-check.png") no-repeat;
  content: "";
}

.cart-notification-decision {
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 80px;
  font-size: 0;
  background-color: #f1f1f1;
}

.cart-order-btn,
.cart-cancel-btn {
  display: inline-block;
  vertical-align: top;
  color:#ffffff;
  padding-top: 12px;
  padding-bottom: 9px;
  margin-right: 20px;
  border-style: none;
  border-radius: 5px;
  outline: none;
}

.cart-order-btn {
  padding-left: 59px;
  padding-right: 62px;
  background-color: #ee3643;
}

.cart-order-btn:hover {
  background-color: #ca2c37;
}

.cart-order-btn:active {
  background-color: #ba2732;
}

.cart-cancel-btn {
  padding-left: 44px;
  padding-right: 48px;
  background-color: #ee3643;
}

.cart-cancel-btn {

  padding-left: 59px;
  padding-right: 62px;
  background-color: #ee3643;
}

.cart-cancel-btn:hover {
  background-color: #ca2c37;
}

.cart-cancel-btn:active {
  background-color: #ba2732;
} 



.page-title{
  background:#f2f6f8;
  font-family: 'Cuprum';
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px;
  margin: 0 0 20px;
}





/*Стилизация состояния вошли - каталог*/

.header-about-us-registration .header-enter-made {
  width: 310px;
}

.header-enter-made .header-enter-entrance-made {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 7px;
}

.header-enter-made .header-enter-entrance-made::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-position: -50px -1599px;
  background-image: url("../img/catalog-spritesheet.png");
  background-repeat: no-repeat;
}

.header-enter-made .header-enter-entrance-made:hover::before {
  background-position: -50px -1481px;
}

.header-enter-made .header-enter-entrance-made:active::before {
  background-position: -50px -1363px;
}

.header-enter-made .header-enter-entrance-made::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  width: 21px;
  height: 17px;
  background-position: -50px -1246px;
  background-image: url("../img/catalog-spritesheet.png");
  background-repeat: no-repeat;
}

.header-enter-made .header-enter-entrance-made:hover::after {
  background-position: -50px -1129px;
}

.header-enter-made .header-enter-entrance-made:active::after {
  background-position: -50px -1012px;
}

.header-enter-my-order,
.header-enter-me-cabinet {
  display: inline-block;
  vertical-align: top;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.header-enter-my-order {
  margin-left: 17px;
}

.header-enter-me-cabinet {
  padding-left: 29px;
  position: relative;
}

.header-enter-my-order:hover,
.header-enter-me-cabinet:hover {
  color: #ee3643;
}

.header-enter-my-order:active,
.header-enter-me-cabinet:active {
  color: #32425c;
  opacity: 0.3;
}

.header-enter-me-cabinet::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.header-main-navigation ul {
  display: flex;
  list-style: none;
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 65px;
  margin-top: 40px;
}
.header-main-navigation ul li {
  display: block;
  background-color: #32425c;
  padding: 20px 31px 18px 29px;
  box-shadow: 0 5px 0 0 #293449;
  cursor: pointer;
}

.header-main-navigation ul li:hover {
  background-color: #293449;
}

.header-main-navigation ul li:active {
  background-color: #1d2739;
}

.header-main-navigation ul li:first-child {
  padding-left: 52px;
  padding-right: 34px;
}

.header-main-navigation ul li:nth-child(5) {
  padding-left: 27px;
}

.header-main-navigation ul li:nth-child(6) {
  padding-left: 31px;
}

.header-main-navigation ul li:nth-child(7) {
  padding-left: 32px;
  padding-right: 55px;
}

.header-main-navigation ul li a {
  display: block;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}






