html,
body {
  margin: 0;
  padding: 0;
}
body {

  position: relative;
  font-size: 16px;
  font-family: "Cuprum", sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 24px;
  background: white;

}
.main-header{ 
  margin: 0;
  padding: 0;
  min-width: 960px;
  background-color:#f4f7f9;
  font-size: 17px;
}
.main-header {
  margin-bottom: 59px;
}
.features{
	display: flex;
	margin: 0;
  padding: 0;
  margin-bottom: 45px;
  min-width: 960px;
  height: 42px;
  font-size: 0;
  background-color: #293449;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
.features.container {
  position: relative;
}

.main-header-logo{
  position: relative;
  display: inline-block;
  margin: 0;
  width: 220px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 7px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
}
.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}
.main-header-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}



.search-field {
 position: absolute;
 padding-left: 48px;
 width: 270px;
 height: 42px;
 box-sizing: border-box;
 outline: none;
 border: none;
 background-color: transparent;
 color: #ffffff;
 font-family: inherit;
 font-size: 17px;
 font-weight: 400;
 line-height: 20px;
}
.header-list{
  float: right;
  display: inline-block;
}
.header-list li{
	display: inline-block;
}
.bar-btn{
  font-family: 'Cuprum',  sans-serif;
  position: relative;
  display: inline-block;
  padding-top: 11px;
  min-width: 150px;
  height: 42px;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
}

.ordering{
	margin-left: 50px;
	text-align: center;
	background-color: #63a63e;
}



.header-information{
 margin-bottom: 39px;
 display:flex; 


}
.header-information h1{

  display: inline-block;
  margin: 4px 18px 0 52px;
  width: 250px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  vertical-align: top;
}
.header-contacts{
	display: inline-block;
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;

}
.header-phone{
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 22px;
  width: 100%;
  height: 45px;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #e9292a;
  border: 3px solid white;
  box-sizing: border-box;
}
.header__phone::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 12px;
  width: 19px;
  height: 19px;
  background:url("../img/sprite.png") no-repeat 2px -326px;
}

.user-navigation{
  display: inline-block;
  width: 350px;
  text-align: center;
  vertical-align: top;
}
.login-bth{
 width: 121px;
 height: 45px;
 background: #FFFFFF;
}
.login{
  width: 46px;
  height: 20px;

  color: #000000;
  text-decoration: none;
  padding: 12px 25px;
  
}
.registration-bth{
  width: 150px;
  height: 45px;
  background: #FFFFFF;
}
.registration{
	width: 100px;
  height: 20px;
  color: #000000;
  text-decoration: none;
  padding: 12px 25px;
  
}
.login {
  margin-right: 10px;
  padding: 12px 26px 12px 46px;
}
.login:hover {
  color: #ee3643;
}

.login:active {
  color: #b2b2b2;
}
.registration:hover {
  color: #ee3643;
}

.registration:active {
  color: #b2b2b2;
}
.contener {
  display: flex;


}
.main-navigation {
 width: 940px;
 height: 60px;

 
 background: #32425c;
}

.site-navigation{
 display: inline-block;

}

.site-navigation li{
  display: inline-block;
  font-size: 17px;
  line-height: 17px;
}
.site-navigation a:hover {
  background: #293449;
}

.site-navigation a:active {
  background: #1d2739;
  color: #616874;
  border: none;
}

.site-navigation {
  padding: 0;
  font-size: 0;
}

.site-navigation a{
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
  padding: 19px 33px;
}
.container-main{
	display: flex;
	height: 600px;
 padding-left:50px;
}

.company {
  margin: 0 auto 85px;

}

.about {
  float: left;
  width: 600px;
}

.about-main,
.contacts-main {
  margin: 0 0 35px 0;
  font-family: 'Cuprum';
  font-size: 30px;
  font-weight: 400;
  
}

.about p {
  margin: 15px 0;
}

.transport-companies {
  list-style: none;
  position: relative;
  margin: 25px 0;
}

.transport-companies li:before {
  content: '';
  width: 25px;
  height: 2px;
  background: #FB565A;
  position: absolute;
  left: 0;
  top: 17px;
}

.transport-companies li:nth-child(2):before {
  top: 53px;
}

.transport-companies li:nth-child(3):before {
  top: 89px;
}

.transport-companies a {
  color: #000000;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  font-family: 'Cuprum';
}
.company-button {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  display: block;
  text-align:center;
  line-height: 38px;

}

.contacts {
  float: right;
  width: 320px;
  margin: 0 auto 85px;
}

.map img {
  margin: 20px 0;
}

.feedback-button {
 width: 300px;
 height: 38px;
 background-color: #ee3643;
 display: block;
 text-align:center;
 line-height: 38px;
}

.main-footer {
  display: block;
  background: #32425C;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 18px;
}
.footer-user-navigation{
  padding-bottom: 45px;
  background-color: #32425c;
}
.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.main-footer-logo{
  position: relative;
  display: inline-block;
  margin: 0;
  width: 220px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 7px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
}
.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}
.main-footer-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}
.footer-user-navigation p.adress,
.footer-user-navigation p.phone{
  color:#f1f5f7;
  padding-left:2px;
  font:18px/24px Cuprum,Arial,sans-serif
}
.footer-top-row p.adress{
  margin-bottom:0;
  padding-top:78px
}
.footer-user-navigation p.phone{
  margin:0;
  padding-top:0
}
.footer-user-navigation;
.right-column{
  float:right;
  width:548px;
  padding-top:29px;
}

.footer-navigation-list,
.footer-main-navigation{
  margin:0 0 17px;
  padding:0;
  font-size:0;
}
.footer-navigation-list a,
.footer-main-navigation a{
  font:18px Cuprum,Arial,sans-serif;
}
.footer-main-navigation li{
  display:inline-block;
  vertical-align:middle;
  padding:10px 30px 10px 28px;
}
.footer-navigation-list li{
  display:inline-block;
  vertical-align:middle;
  padding:10px 30px 10px 29px;
}
.footer-main-navigation li:first-of-type{
  padding-left:0;
}
.footer-navigation-list li:first-of-type{
  padding-left:23px;
}
.footer-navigation-list li:last-of-type,
.footer-main-navigation li:last-of-type{
  padding-right:0;
}
.footer-main-navigation a{
  color:#f1f5f7;
  text-decoration:none;
}
.footer-main-navigation a:hover{
  border-bottom:1px solid #f1f5f7;
}
.footer-navigation-list a:active,
.footer-main-navigation a:active
{
  opacity:.5;
  border-bottom:none;
}
.footer-navigation-list a:hover,
{
  border-bottom:1px solid #ffd180;
}
.footer-navigation-list a{
  color:#ffd180;
}

.footer-down{
  display: block;
  padding-top: 38px;
  padding-bottom: 30px;
  background-color: #293449;
  
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.copyright{
  font-size:18px;
  float: left;
  width: 350px;
  margin: 0 30px 0 0;
}
.btn-social {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #212A3A;
  color: transparent;
  text-shadow: none;
  margin-right: 5px;
}


.social-btn:first-child {
  margin-right: 5px;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.btn-vk::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 10px;
  width: 20px;
  height: 12px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -230px;
}

.btn-fb::after {
  position: absolute;
  content: "";
  top: 11px;
  left: 15px;
  width: 10px;
  height: 18px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -436px;
}

.btn-inst::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 12px;
  width: 17px;
  height: 17px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -307px;
}

.footer-feedback{
  float: right;
  width: 160px;
  margin: 0;
}
.footer-feedback a{
  color: #FFD180;
  text-decoration: none;
}
.footer-copyright{
  float: right;
  margin: 0;
  width: 170px;
}
.footer-copyright a{
  color: #FFD180;
  text-decoration: none;
}

.modal-content-map{
   
    position: fixed;
    top: 120px;
    left: 50%;
    width: 940px;
    height: 446px;
    margin-left: -470px;
    background: #e5e5e5 url(../img/big-map.png) no-repeat;
    box-shadow: 0 0 15px 1px rgba(35,31,32,.5);
    z-index: 500;
}
.modal-content-map .modal-close-btn{
  position:absolute;
  right:-30px;
  top:13px;
  margin:0;
  padding:0;
  width:21px;
  height:21px;
  border:none;background:url(../imag/close.png) ;
}
.request{
  position: fixed;
  top: 40%;
  left: 50%;
  width: 620px;
  height: 430px;
  margin-left: -310px;
  padding: 0;
  z-index: 1000;
  box-shadow: 0 20px 40px 0 rgba(0,1,1,.75);
}
.write-us-buttons input,
.write-us-fields 
.request-name,.write-us-fields .request-email{
  vertical-align:top;
  display:inline-block;
}
input:active,input:focus,textarea:focus{
  outline:0
}

.modal-close-btn{
  position:absolute;
  top:16px;
  margin:0;
  padding:0;
  width:620px;
  height:430px;
  border:none;
  z-index:1001;
  background:url(../images/close.png)no-repeat;
}
.modal-close-btn:focus{
  outline:0;
}
.request form{
  width:100%;
  background-color:#fff;
  border-top:7px solid #ee3643;
}
.write-us-fields{
  font-size:0;
  padding:45px 80px 35px;
}
.write-us-fields .request-name{
  margin-right:20px;
  max-width:220px;
}
.write-us-fields .request-email{
  max-width:220px;
}
.write-us-fields label{
  font:18px/18px Cuprum,Arial,sans-serif;
  color:#000000;
}
.write-us-fields input{
  margin-bottom:20px;
  padding:9px 15px;
  width:220px;
  border-radius:3px;
}
.write-us-fields input,
.write-us-fields textarea{
  box-sizing:border-box;
  margin-top:10px;
  font:13px/18px "PT Sans",Arial,sans-serif;
  color:#999999;
  border:2px solid #d7dcde;
}
.write-us-fields textarea{
  padding:9px 14px;
  width:460px;
  border-radius:3px;
  resize:none;
  overflow:auto;
}
.feedback-block-buttons {
    background-color: #f1f1f1;
}

.feedback-block-buttons {
   padding-left: 80px;
    padding-bottom: 37px;
    font-size: 0;
}

.feedback-btn:last-child {
    margin-right: 0;
}

.feedback-btn {
  
    width: 460px;
    height: 38px;
    color:#ffffff; 
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 78px;
    padding-right: 81px;
    margin-right: 20px; 
    border-style: none;
    border-radius: 5px;
    outline: none;
    background-color: #ee3643;
}

.feedback-btn:hover {
    background-color: #ca2c37;
}

.feedback-btn:active {
    background-color: #ba2732;
}



/* ------------------------------------- 
Styles for the catalog page    -
-----------------------------------------     */
.basket{
	width: 150px;

  background-color: #ee3643;
}

.menu-list{
  display: flex;
}
.menu-list{
  margin:0 0 19px;
  padding:0;
  list-style:none
}
.menu-list a{
  display:inline-block;
  vertical-align:middle;
  font-family: Cuprum,Arial,sans-serif;
  font-size: 13px;
  color:#000;
  text-transform:uppercase;
  padding:0 6px
}
.user-navigation{

}

.loged {
	width: 299px;
  height: 45px;
  color: #000000;
  text-decoration: none;

  background: #FFFFFF;
  display: flex;
}
.loged{
  padding: 12px 70px 12px 47px;
  margin: 0 0 5px;
}
.loged:active {
  color: #b2b2b2;
}

.my-orders{
	color: #32425c;
	width: 75px;
  height: 14px;
  display: inline-block;
  font-size: 16px;
}
.loged-profile{
	color: #32425c;
	width: 104px;
  height: 14px;
  display: inline-block;
  font-size: 16px;
}
.my-orders:hover {
  color: #ee3643;
}

.loged-profile:hover {
  color: #ee3643;
}

.my-orders:active {
  color: #b7bec7;
}

.loged-profile:active {
  color: #b7bec7;
}




.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
}
.catalog-list .row {
  margin-left: -20px;
}
.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #ccc;
}
.catalog-list {
  font-size: 16px;
}
.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}
.pagination-list{
  display: flex;
}
.pagination-list li {
  width: 38px;
  height: 38px;
  background-color:#ee3643;
}

 .cart-notification {
   
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    padding-top: 66px;
    margin-top: -200px;
    margin-left: -300px;
    background-color: #ffffff;
    border-top: solid 7px #ee3643;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    z-index: 5000;
}

.cart-notification-close {
    position: absolute;
    right: 40px;
    top: 20px;
}

.cart-notification-close:before {
    position: absolute;
    top: -2px;
    left: 5px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.cart-notification-close:after {
    position: absolute;
    top: -2px;
    left: 5px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.cart-notification-close:hover:before,
.cart-notification-close:hover:after {
    background-color: #ca2c37;
}

.cart-notification-close:active:before,
.cart-notification-close:active:after {
    background-color: #ba2732;
}
.cart-notification img{
  width: 66px;
  height: 66px;
  margin-left:40px;
}
.cart-notification-title {
    position: relative;
    margin-left: 90px;
    margin-bottom: 50px;
    font-family: Cuprum;
    font-size: 30px;
    text-align: center;
    margin-top:auto;
}

.cart-notification-title:before {
    position: absolute;
    top: -20px;
    left: -100px;
    width: 65px;
    height: 65px;
    background: -21px -616px url("../img/modal-check.png") no-repeat;
    content: "";
}

.cart-notification-decision {
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 80px;
    font-size: 0;
    background-color: #f1f1f1;
}

.cart-order-btn,
.cart-cancel-btn {
    display: inline-block;
    vertical-align: top;
    color:#ffffff;
    padding-top: 12px;
    padding-bottom: 9px;
    margin-right: 20px;
    border-style: none;
    border-radius: 5px;
    outline: none;
}

.cart-order-btn {
    padding-left: 59px;
    padding-right: 62px;
    background-color: #ee3643;
}

.cart-order-btn:hover {
    background-color: #ca2c37;
}

.cart-order-btn:active {
    background-color: #ba2732;
}

.cart-cancel-btn {
    padding-left: 44px;
    padding-right: 48px;
    background-color: #ee3643;
}

.cart-cancel-btn {

    padding-left: 59px;
    padding-right: 62px;
    background-color: #ee3643;
}

.cart-cancel-btn:hover {
    background-color: #ca2c37;
}

.cart-cancel-btn:active {
    background-color: #ba2732;
}

  

.page-title{
  background:#f2f6f8;
  font-family: 'Cuprum';
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px;
  margin: 0 0 20px;
}

