html,
body {
  margin: 0;
  padding: 0;
}
 body {
  
    min-width: 960px;
    font-size: 13px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    color: #000000;
}
  .container-center {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
 .main-header{ 
   
   background-color:#293449;
   font-size: 17px;
}
a{  
  	color:#fff; 
  	text-decoration:none; 
 }
.features{
	display: flex;
}

.main-header-logo{

   float: left;
    width: 220px;
    padding: 11px 0 7px 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    background-color: #ee3643;
    border-radius: 0;
    box-shadow: 0 5px #b52933;
}
.search {
    position: relative;
    float: left;
    width: 270px;
}
.search-field {
    float: right;
    width: 220px;
    height: 40px;
    padding-left: 49px;
    border: none;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #ffffff;
    background-color: #293449;
    outline: none;
}
.bar-btn {
    position: relative;
    float: left;
    width: 148px;
    padding: 12px 2px 12px 0px;
    white-space: nowrap;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    text-decoration: none;
    color: #ffffff;
    background-color: #293449;
    
}
.ordering{
	width: 150px;
  background-color: #63a63e;
}




.header-information{
	  display:flex; 
	 padding: 46px 0 60px 0;
    background-color: #f1f5f7;
}

.header-information h1{
   float: left;
    width: 218px;
    margin: 3px 51px 0 51px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: 400;
    color: #ee3643;
}
.main-header-contacts{
	float: left;
    width: 270px;
}
.header-phone{
      width:145px; 
      border:3px solid #fff; 
      padding:10.5px 50px 10.5px 72px; 
       color:#e9292a;
      font-size:21px; 
      line-height:18px;  
      background:url("../img/sprite.png") no-repeat 2px -326px;
      
}

.header-adress{
	vertical-align:11px;
	color: #32425C;
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  
}
 .user-navigation{
    display: flex;
     font-family: 'Cuprum', 'Arial', sans-serif;
     float: right;
    position: relative;
}
 .login-bth{
 	width: 121px;
    height: 45px;
 background: #FFFFFF;
 }
 .login{
 	width: 46px;
  height: 20px;

  color: #000000;
  text-decoration: none;
  padding: 12px 25px;
  
 }
.registration-bth{
  width: 150px;
  height: 45px;
  background: #FFFFFF;
}
.registration{
	width: 100px;
  height: 20px;
   color: #000000;
  text-decoration: none;
  padding: 12px 25px;
  
}
.login {
  margin-right: 10px;
  padding: 12px 26px 12px 46px;
}
.login:hover {
  color: #ee3643;
}

.login:active {
  color: #b2b2b2;
}
.registration:hover {
  color: #ee3643;
}

.registration:active {
  color: #b2b2b2;
}
.main-navigation{
	display: flex;
}
.main-navigation {
  background: #32425c;
  border-bottom: 5px solid #293449;
}

.site-navigation{
  text-align: center;
}

.site-navigation a:hover {
  background: #293449;
}

.site-navigation a:active {
  background: #1d2739;
  color: #616874;
  border: none;
}

.site-navigation {
  padding: 0;
  font-size: 0;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation a{
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
  padding: 19px 33px;
}
.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.our-offers {
  margin: 0 auto 85px;
  line-height: 1.846;
}
.our-offers h1{
margin: 0 0 35px 0;
  font-family: 'Cuprum';
  font-size: 30px;
  font-weight: 400;
  line-height: 0.8;
 }
.our-offers p{
  margin: 15px 0;
}
.list-info{
	list-style: none;
  position: relative;
  margin: 25px 0;
}
.our-offers a{
   color: #000000;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  font-family: 'Cuprum';
}   
.btn--.our-offers {
  width: 220px;
  margin: 10px 0 0;
}
.help{
	
   width: 320px;
}
.help p{
 padding: 0;
  margin: 0;
  display: block;
}
 .map img {
  margin: 14px 0;
}
.help a{
	 width: 300px;
  margin: 14px 0 0;
}

.main-footer {
 background: #32425C;
  font-family: 'Cuprum';
  font-size: 18px;
  padding-bottom: 50px;
}



.footer-logo-navigation{
	float: left;
  color: #FFFFFF;
  width: 300px;
  position: relative;
}
.main-footer-logo{
	 float: left;
    width: 220px;
    padding: 11px 0 7px 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    background-color: #ee3643;
    border-radius: 0;
    box-shadow: 0 5px #b52933;
}
.footer-adress{
	float: left;
  color: #FFFFFF;
  width: 300px;
  position: relative;
	
  
 }
 .
.footer-navigation{
	 float: right;
  padding-top: 35px;
  width: 700px;
}
.footer-navigation-menu{
	display: flex;
  margin: 0 0 35px;
  padding: 0;
}
.footer-navigation-menu li{
	 list-style: none;
  /*   display:inline-block; */
  
  padding-left: 40px;
}
.footer-navigation-menu a{
	 text-decoration: none;
  color: #f1f5f7;
  
}
.footer-navigation-menu a:hover {
  text-decoration: underline;
}

.footer-navigation-menu a:active {
  color: #6a778a;
  border: none;
}

.footer-navigation-list{
	display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.footer-navigation-list li{
	list-style: none;
    /*   display:inline-block; */
  
  padding-left: 35px;
}
.footer-navigation-list a {
  color: #FFD180;
  text-decoration: none;
  padding: 10px;
}
.footer-navigation-list a:hover {
  text-decoration: underline;
}

.footer-navigation-list a:active {
  color: #6f6d66;
  border: none;
}

.footer-down{
	height: 100px;
	
    color: #FFFFFF;
   font-family: 'Cuprum';
  font-size: 16px;
  
}
.copyright{
	float: left;
  width: 350px;
  margin: 0 30px 0 0;
}
.social-buttons {
  float: left;
  width: 200px;
  margin-right: 60px;
}
.btn-social {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #212A3A;
  color: transparent;
  text-shadow: none;
  margin-right: 5px;
}
.btn-social-vk {
  background: #212A3A url(/img/"http://www.w3.org/2000/svg") no-repeat -2px -55px;
}

.btn-social-fb {
  background: #212A3A url(/img/"http://www.w3.org/2000/svg") no-repeat -3px -154px;
}

.btn-social-inst {
  background: #212A3A url(/img/"http://www.w3.org/2000/svg") no-repeat -2px -104px;
}
.footer-feedback{
	float: right;
  width: 160px;
  margin: 0;
}
.footer-feedback a{
	color: #FFD180;
  text-decoration: none;
}
.footer-copyright{
	float: right;
  margin: 0;
  width: 170px;
}
.footer-copyright a{
	color: #FFD180;
  text-decoration: none;
}


/* ------------------------------------- 
Styles for the catalog page    -
-----------------------------------------     */
.basket{
	width: 150px;
  
  background-color: #ee3643;
}

.
.user-navigation{
   
     font-family: 'Cuprum', 'Arial', sans-serif;
     float: right;
    position: relative;
}
.loged {
	width: 299px;
    height: 45px;
    color: #000000;
  text-decoration: none;

  background: #FFFFFF;
  display: flex;
}
.loged{
  padding: 12px 70px 12px 47px;
  margin: 0 0 5px;
}
.loged:active {
  color: #b2b2b2;
}

.my-orders{
	color: #32425c;
	width: 75px;
  height: 14px;
   display: inline-block;
     font-size: 16px;
}
.loged-profile{
	color: #32425c;
	width: 104px;
  height: 14px;
  display: inline-block;
     font-size: 16px;
}
.my-orders:hover {
  color: #ee3643;
}

.loged-profile:hover {
  color: #ee3643;
}

.my-orders:active {
  color: #b7bec7;
}

.loged-profile:active {
  color: #b7bec7;
}
.menu-list{
	padding: 0;
  margin: 20px 20px 20px 30px;
  position: relative;
}

.menu-list li{
     list-style: none;
  display: inline-block;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 20px;
}
.menu-list a{
	color: #000000;
  text-decoration: none;
}
.page-title{
background:#f2f6f8;
  font-family: 'Cuprum';
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px;
  margin: 0 0 20px;
}

.drill-list{
	margin: 0;
  padding: 10px 0;
}
.drill-list ul{
margin: 0;
  padding: 0;
}
.drill-item ,
.drill-item-current ul li{
	min-width: 20px;
  display: inline-block;
  text-align: center;
  padding-left: 5px;

}


